:root {
    --green: #0ae448;
    --color-shockingly-green: #0ae448;
    --color-just-black: #0e100f;
    --color-surface-white: #fffce1;
    --color-pink: #fec5fb;
    --color-shockingly-pink: #f100cb;
    --color-orangey: #ff8709;
    --color-lilac: #9d95ff;
    --color-lt-green: #abff84;
    --color-blue: #00bae2;
    --color-grey: gray;
    --color-surface75: #bbbaa6;
    --color-surface50: #7c7c6f;
    --color-surface25: #42433d;
    --gradient-macha: linear-gradient(114.41deg, var(--color-shockingly-green) 20.74%, var(--color-lt-green) 65.5%);
    --gradient-orange: linear-gradient(111.45deg, var(--color-orangey) 19.42%, #f7bdf8 73.08%);
    --gradient-lipstick: linear-gradient(165.72deg, #f7bdf8 21.15%, #cd237f 81.93%);
    --gradient-purple: linear-gradient(153.58deg, #f7bdf8 32.25%, #2f3cc0 92.68%);
    --gradient-skyfall: linear-gradient(131.77deg, #0a157a 30.82%, #15bfe4 81.82%);
    --gradient-emerald: linear-gradient(166.9deg, var(--color-shockingly-green) 53.19%, #0085d0 107.69%);
    --gradient-summer: linear-gradient(144.02deg, var(--color-blue) 4.56%, var(--color-pink) 72.98%);
}

body {
    background-color: #0e100f;
    font-family: "Inter Tight", sans-serif;
    color: #fffce1;
}

p {
    font-size: 18px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 20px;
}

.text-grey {
    color: #b3b29f
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: auto;
    padding-top: 40px;
}

a {
    color: var(--green);
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}

pre {
    padding: 20px 40px;
    border-radius: 10px;
    background-color: #28292b;
}

span {
    font-size: inherit;
}

@media(max-width:768px) {
    p {
        font-size: 16px;
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }

    a {
        font-size: 16px;
    }

    pre {
        padding: 20px 20px;

    }

    code {
        font-size: 12px;
    }
}

code {
    max-width: 100%;
    text-wrap: wrap;
    font-size: 18px;
}

.box {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.gradient-green {
    background: linear-gradient(90deg, var(--green) 0%, #71cfa9 100%);
}

.gradient-orange {
    background: var(--gradient-orange);
}

.gradient-purple {
    background: var(--gradient-purple);
}

.btn-activate {
    background: var(--gradient-emerald);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    font-weight: bold;
}

.ver-mas-btn {
    background: var(--gradient-orange);
    color: var();
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

button {
    cursor: pointer;
}

.mt-40 {
    margin-top: 40px;
}

.inner-link{
    color: var(--color-lilac)
}